@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'sans-serif';
  }
}

@layer components {
  .fade-in {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease-out;
  }
  
  .fade-in-visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .fade-in-right {
    opacity: 0;
    transform: